html {
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
	overflow-y: hidden;
	width: 100%;
	height: 100%;
}

body {
	font-size: 13px;
	line-height: 20px;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	height: 100%;
}

span.p4r-legend {
	display: inline-block;
	line-height: 40px;
	margin-right: 20px;
}

span.p4r-legend > span {
	display: inline-block;
	width: 30px;
	height: 12px;
	margin-right: 5px;
}

.limited-images img {
	max-width: 600px;
	max-height: 400px;
	margin: 0 auto;
}

button.p4r-smallbtn {
	display: block;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
}

.missions-table-row:hover {
	background-color: #eee !important;
}

.p4r-review .leaflet-marker-pane {
	z-index: 300 !important;
}

/*
 * xs devices
 */
@media (max-width: 599px) {
	.leaflet-popup-content {
		margin: 5px 0 !important;
	}
	
	svg[aria-hidden=true] {
		height: 0.9em;
	}
	
	span.p4r-legend {
		line-height: 25px;
	}
}


/*
 * Gallery
 */

div.image-gallery-bullets {
	height: unset;
	bottom: 10px;
}

.image-gallery-left-nav[disabled], .image-gallery-right-nav[disabled] {
	opacity: 0.3 !important;
}

.image-gallery-description {
	top: 0;
	background: rgba(0, 0, 0, 0.4) !important;
	bottom: unset !important;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	right: 0;
	padding: 0 !important;
}

.image-gallery-description > span {
	vertical-align: middle;
}

.image-gallery-thumbnails-container {
	overflow-x: auto !important;
	position: relative;
	white-space: nowrap;
}

@media (max-width: 959px) {
	.image-gallery,
	.image-gallery-content,
	.image-gallery-slide-wrapper,
	.image-gallery-swipe,
	.image-gallery-slides,
	.image-gallery-slide,
	.image-gallery-image,
	.image-gallery-image img {
		height: 100%;
	}
}

@media (min-width: 960px) {
	.image-gallery {
		flex: 10;
	}
	
	.image-gallery-content {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	
	.image-gallery-slide-wrapper {
		flex: 9;
	}
	
	.image-gallery-swipe,
	.image-gallery-slides,
	.image-gallery-slide,
	.image-gallery-image {
		height: 100%;
	}
	
	.image-gallery-description {
		z-index: 10;
	}
	
	.magnifier {
		position: absolute !important;
		height: 100% !important;
	}
}


/* roboto-300 - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: url('./fonts/roboto-v18-latin-300.eot'); /* IE9 Compat Modes */
	src: local('Roboto Light'), local('Roboto-Light'),
	url('./fonts/roboto-v18-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('./fonts/roboto-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
	url('./fonts/roboto-v18-latin-300.woff') format('woff'), /* Modern Browsers */
	url('./fonts/roboto-v18-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
	url('./fonts/roboto-v18-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Roboto'), local('Roboto-Regular'),
	url('./fonts/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('./fonts/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('./fonts/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
	url('./fonts/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('./fonts/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: url('./fonts/roboto-v18-latin-500.eot'); /* IE9 Compat Modes */
	src: local('Roboto Medium'), local('Roboto-Medium'),
	url('./fonts/roboto-v18-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('./fonts/roboto-v18-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
	url('./fonts/roboto-v18-latin-500.woff') format('woff'), /* Modern Browsers */
	url('./fonts/roboto-v18-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
	url('./fonts/roboto-v18-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
